<div class="box">
  <div (scroll)="onScroll($event)" #itemA class="item-a">
    <div>123</div>
    <div>321</div>
    <div>aaa</div>
    <div>ddd</div>
    <div>ccc</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
  </div>
  <div #itemB class="item-a">
    <div>123</div>
    <div>321</div>
    <div>aaa</div>
    <div>ddd</div>
    <div>ccc</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
    <div>dododo</div>
    <div>kuku</div>
    <div>haha</div>
    <div>xixi</div>
    <div>mumu</div>
    <div>hihi</div>
  </div>
</div>